{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h2>Photo Gallery</h2>
<div class="flex flex-wrap">
    <img src="https://i.pinimg.com/736x/16/2e/50/162e500f6707f0fcfe64c1cd1ced1405.jpg" style="height: 300px;" class="p-3"/>
        
    <img src="https://i.pinimg.com/736x/78/50/87/785087f987bd541472a6cde3210c93e2.jpg"style="height:300px;" class="p-3" />
        
    <img src="https://i.pinimg.com/736x/8b/c8/fa/8bc8fadee3c60213b0f0b18d6d1313fa.jpg" style="height:300px;"class="p-3"/>
        
        <img src="https://i.pinimg.com/736x/85/e8/47/85e84749f3d5fe556f14d1346e50be80.jpg"style="height:300px;"class="p-3" />
        
        <img src="https://i.pinimg.com/736x/89/ad/34/89ad3484cb61bc1ff6b2b492a34ad9d9.jpg" style="height:300px;"class="p-3"/>
        
        <img src="https://i.pinimg.com/236x/0f/b5/dc/0fb5dc6bb4f6628a02ca215262552dbc.jpg" style="height:300px;"class="p-3"/>
        
        <img src="https://i.pinimg.com/736x/5e/01/c2/5e01c24c56a23f73d6fba1240044b370.jpg" style="height:300px;"class="p-3"/>
        
        <img src="https://i.pinimg.com/236x/4f/52/6b/4f526bc9f9e31f193b533e1f9a3335cc.jpg"style="height:230px;" class="p-3"/>
        
        <img src="https://i.pinimg.com/236x/67/fa/bc/67fabcad5b7fb3a976bf89ecb1212d90.jpg" style="height:300px;"class="p-3"/>
        
        <img src="https://i.pinimg.com/236x/3a/ca/4b/3aca4b888bfaf8e491d32cae555ac21e.jpg" style="height:300px;"class="p-3"/>
       
        <img src="https://i.pinimg.com/736x/0a/f5/d2/0af5d2ca5005cc0c80846ac16f3e9854.jpg"style="height:300px;" class="p-3"/>
        
        <img src="https://i.pinimg.com/236x/2a/64/9f/2a649f229aa6ac6b0db6565c2492b012.jpg" style="height:300px;"class="p-3"/>
        
        <img src="https://i.pinimg.com/236x/df/46/3e/df463e958fd7374b66be072c89d76c76.jpg"style="height:300px;"class="p-3" />
        
        <img src="https://i.pinimg.com/736x/53/6b/ed/536bede0231f51dd9b962b9ef2b8893f.jpg" style="height:300px;"class="p-3"/>
        
        <img src="https://i.pinimg.com/474x/8f/6f/15/8f6f1527b212513392eb92c1669379c4.jpg"style="height:300px;"class="p-3" />
        
        <img src="https://i.pinimg.com/236x/97/63/a0/9763a0bcc1b9d78b1adfc1c2ca6a3ad6.jpg"style="height:300px;" class="p-3"/>
        
        <img src="https://i.pinimg.com/236x/d5/60/b4/d560b42c4b61c0cb1b6e2f4360324efd.jpg" style="height:300px;"class="p-3"/>
        
        <img src="https://i.pinimg.com/474x/15/aa/18/15aa1846842324e10cf0db573d0f0622.jpg" style="height:300px;"class="p-3"/>
       
        <img src="https://i.pinimg.com/236x/1b/0e/95/1b0e95e9922d0ce3c4bb590983386bb0.jpg" style="height:300px;"class="p-3"/>
        
        <img src="https://i.pinimg.com/474x/34/15/18/34151834e1d9b1b746cd28a2a71b4e06.jpg" style="height:300px;"class="p-3"/>
        
        <img src="https://i.pinimg.com/236x/32/29/4d/32294d597662f1843337bae8a6ec8b02.jpg" style="height:300px;"class="p-3"/>
        
        <img src="https://i.pinimg.com/236x/0d/e7/87/0de78793c588190edfa6bb2a6f1493b4.jpg" style="height:300px;"class="p-3"/>
        
    </div>
{% endblock %}
